* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  background-color: #1d1d1d;
  padding-left: 64px;
  padding-right: 64px;
}

@font-face {
  font-family: 'TheShapeOfThings';
  src: url(/TheShapeOfThings-z2E0.ttf);
}

main {
  flex: 1; 
}

header {
  color: white;
  display: flex;
  /* width: 100%; */
  height: 80px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}


h4{
  color: white;
  font-size: 28px;
  transition: 400ms ease-in;
}
h4.logo{
  font-family:'TheShapeOfThings',sans-serif ;
  font-size: 20px;
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
color: transparent;
-webkit-background-clip: text;
cursor: pointer;
}
h4.logo:hover{
  font-size: 22px;
}
.h-start{
  display: flex;
  justify-content: start;
  gap: 24px;
  align-items: center;
}

h4:hover{
  font-size: 32px;
  transition: 400ms ease-out ;
  cursor: pointer;
}

.fa-solid{
  color: white;
  font-size: 32px;
  /* background-color: white; */
  /* margin-left: 768px; */
}

.burger-button {
  /* position: absolute;
  top: 23px;
  right: 20px; */
  padding-left: 15px;
  padding-right: 15px;
  display: none;
}

.section-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

button:hover {
  cursor: pointer;
}

button.signin {
  padding: 10px 36px;
  font-size: 24px;
  border-radius: 32px;
  font-weight: 400;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  color: white;
  font-family: 'Quicksand', sans-serif;
  transition: 1s ease-in;
  border: none;
}

button.signin:hover {
  cursor: pointer;
}

h4:hover {
  font-size: 32px;
  transition: 400ms ease-out;
  cursor: pointer;
}

.small-square-ld{
  /* width: 284px; */
  height: 236.3px;
  /* background: #575757; */
  border-radius: 16px;
  box-shadow: 0px 2px 8px rgb(53, 52, 52);
  background-color: #ffffff;
  background-image: none;


  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms;
  position: relative;
}
.small-square-ld:empty {
  display: none;
}

/* .small-square-ld::after{
  position: absolute;
  content: "200";
  right: 12px;
  bottom: 0;

} */
.small-square-ld:hover {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  cursor: pointer;
  transition: 500ms ease-in;
}

.aside-wrapper {
  position: relative;
}

section.showcase-button {
  display: flex;
  margin: 32px auto;
  width: 100%;
  position: relative;
}

aside.element-picks {
  /* font-size: 24px; */
  color: white;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 24px;
  position: sticky;
  top: 20px;
}

div#signInField {
  position: absolute;
  height: 500px;
  /* width: 872px; */
  z-index: 7;
  background: rgb(0, 0, 0);
  left: 50%;
  transform: translate(-50%, 0);
  top: 76px;
  border-radius: 16px;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  transition: 0.4s ease-in;
  visibility: hidden;
  width: 872px;
}


/* .active{
  background-color: #5ae0ff;
  background-image: linear-gradient(115deg, #5ae0ff 0%, #b61eff 52%, #71d2aa 90%);
  -webkit-background-clip: text;
} */


.fa-solid:hover {
  cursor: pointer;
}

label {
  font-size: 28px;
}

input#Email {
  padding: 16px 16px;
  width: 426px;
  border: none;
  border-radius: 32px;
}

input#Password {
  padding: 16px 16px;
  width: 426px;
  border: none;
  border-radius: 32px;
  margin-bottom: 16px;
}

button.Login-btn {
  padding: 10px 36px;
  font-size: 24px;
  border-radius: 32px;
  font-weight: 400;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  color: white;
  font-family: 'Quicksand', sans-serif;
  border: none;
}

button.Login-btn:hover {
  cursor: pointer;
}

#darken-element {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 6;
  cursor: pointer;
  transition: 1s;
  backdrop-filter: blur(16px);
}

div#signInField p {
  font-size: 18px;
}

div#signInField  {
  text-align: center;
  margin-left: 24px;
  margin-top: 12px;
}


.line {
  display: flex;
  gap: 18px;
  margin: 16px auto;
}

.GoToSignUpField {
  text-decoration: none;
  color: rgb(212, 212, 212);
  font-size: 16px;
}


.active {
  background-color: #5ae0ff;
  background-image: linear-gradient(115deg, #5ae0ff 0%, #b61eff 52%, #71d2aa 90%);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;

}

.Element {
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.Element:hover {
  background-color: #5ae0ff;
  background-image: linear-gradient(115deg, #5ae0ff 0%, #b61eff 52%, #71d2aa 90%);
  -webkit-background-clip: text;
  color: transparent;
  z-index: 10;
  transition: 0.3s;
  /* font-size: 34px; */
  cursor: pointer;
}


div#sign-Up-Field{
  position: absolute;
  height: 600px;
  width: 872px;
  z-index: 7;
  background: rgb(0, 0, 0);
  left: 50%;
  transform: translate(-50%, 0);
  top: 76px;
  border-radius: 16px;
  padding: 32px 20px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: white;
  font-family:'Quicksand', sans-serif ;
  transition: 0.4s ease-in;
  visibility: hidden;
}



input#Name{
  padding: 16px 16px;
    width: 426px;
    border: none;
    border-radius: 32px;
}


input#SignUpPassword{
  padding: 16px 16px;
    width: 426px;
    border: none;
    border-radius: 32px;
    margin-bottom: 16px;
}

input#SignUpEmail{
  padding: 16px 16px;
  width: 426px;
  border: none;
  border-radius: 32px;
}


button.Signup-btn{
  padding: 10px 36px;
  font-size: 24px;
  border-radius: 32px;
  font-weight: 400;
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
color: white;
font-family: 'Quicksand', sans-serif;
border: none;
}

.signUpLine p{
  text-align: center;
}

.GoToSignUpField{
  text-decoration: none;
  color: rgb(212, 212, 212);
  font-size: 16px;
}

.GoToSignUpField:hover{
  cursor: pointer;
}


/* .fa-solid.fa-heart.fa-sm{
  
} */
/* .Element.active{
background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
border-radius: 32px;
padding: 12px;
transition: 0.5s;
text-align: center;
} */



/* RESPONISVE */


.content-btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  margin-left: 36px;
  padding-left: 36px;
} 

.container--btn {
  display: flex;
  margin-top: 48px;
}

.close-dialog {
  width: 100%;
  text-align: end;
}

.mobile-nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  text-align: center;
  flex-direction: column;
  background-color: #1d1d1d;
  /* position:absolute; */
  display: none;
  z-index: 99;
}

.mobile-nav a {
  color: white;
  text-decoration-line: none;

  @media only screen and (max-width: 768px) {}
}


@media only screen and (max-width: 768px) {
  .container--btn{
    margin-top: 24px;
  }
  .burger-button {
    display: block;
  }
  body{
    margin: 12px;
    padding: 12px;
  }
  
  .signin {
    display: none;
  }
  
  h4.Explore{
    display: none;
  }

  .content-btn {
    grid-template-columns: repeat(2, 1fr) !important;
    margin: 0;
    padding: 0;
  }

  .aside-wrapper {
    display: none;
  }
  

  input#Email {
    width: 200px;
  }

  input#Password {
    width: 200px;
  }

  div#signInField {
    padding: 0;
    max-width: 300px;
  }
}

@media only screen and (max-width: 1024px) {
  .content-btn {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
  }

  .container--btn{
    margin-top: 24px;
  }
  body{
    margin: auto;
    padding: auto;
  }
  .Explore{
    display: none;
  }
}


@media only screen and (min-width: 1336px) {
  .content-btn {
    grid-template-columns: repeat(4, 1fr);
    /* margin: 0;
    padding: 0; */
  }
  .container--btn{
    margin-top: 24px;
  }
}


/* add fav */
.favorite-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor:pointer;
}

.favorite-button:hover .fa-solid{
  color: black;
}

/* Footer */
.footer {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 40px 0px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex-basis: 25%;
  padding: 0 30px;
  margin-bottom: 40px;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #cccccc;
}

.footer-social-icons {
  margin-top: 40px;
}

.footer-social-icons a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

.footer-social-icons a i {
  font-size: 18px;
}

@keyframes apeared {
  from {
    top: -50%
  };
  0% {
    opacity: 0%;
  };

  15% {
    opacity: 15%;
  }
  25%{
    opacity: 30%;
  }
  40%{
    opacity: 40%;
  }
  50% {
    opacity: 50%;
  };
  60%{
    opacity: 60%;
  }
  75%{
    opacity: 75%;
  }
  85%{
    opacity: 85%;
  }
  100%{
    opacity: 100%;
  };
}

@keyframes disapear{
  
  from{
    top: 76px;
  }
  to {
    top: -50%;
  }
}





/* ---------------------------------------------------------------------------------------------------
                                                   het form */






/* loader compass */
.pl {
    display: block;
    width: 9.375em;
    height: 9.375em;
  }
  
  .pl__arrows,
  .pl__ring-rotate,
  .pl__ring-stroke,
  .pl__tick {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .pl__arrows {
    animation-name: arrows42;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
  }
  
  .pl__ring-rotate,
  .pl__ring-stroke {
    transform-origin: 80px 80px;
  }
  
  .pl__ring-rotate {
    animation-name: ringRotate42;
  }
  
  .pl__ring-stroke {
    animation-name: ringStroke42;
    transform: rotate(-45deg);
  }
  
  .pl__tick {
    animation-name: tick42;
  }
  
  .pl__tick:nth-child(2) {
    animation-delay: -1.75s;
  }
  
  .pl__tick:nth-child(3) {
    animation-delay: -1.5s;
  }
  
  .pl__tick:nth-child(4) {
    animation-delay: -1.25s;
  }
  
  .pl__tick:nth-child(5) {
    animation-delay: -1s;
  }
  
  .pl__tick:nth-child(6) {
    animation-delay: -0.75s;
  }
  
  .pl__tick:nth-child(7) {
    animation-delay: -0.5s;
  }
  
  .pl__tick:nth-child(8) {
    animation-delay: -0.25s;
  }
  
  /* Animations */
  @keyframes arrows42 {
    from {
      transform: rotate(45deg);
    }
  
    to {
      transform: rotate(405deg);
    }
  }
  
  @keyframes ringRotate42 {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(720deg);
    }
  }
  
  @keyframes ringStroke42 {
    from,
      to {
      stroke-dashoffset: 452;
      transform: rotate(-45deg);
    }
  
    50% {
      stroke-dashoffset: 169.5;
      transform: rotate(-180deg);
    }
  }
  
  @keyframes tick42 {
    from,
      3%,
      47%,
      to {
      stroke-dashoffset: -12;
    }
  
    14%,
      36% {
      stroke-dashoffset: 0;
    }
  }

  /* loader nine-square */

  .loader-ninesquare {
    --cell-size: 52px;
    --cell-spacing: 1px;
    --cells: 3;
    --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
  }
  
  .cell {
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    animation: 1.5s ripple ease infinite;
  }
  
  .cell.d-1 {
    animation-delay: 100ms;
  }
  
  .cell.d-2 {
    animation-delay: 200ms;
  }
  
  .cell.d-3 {
    animation-delay: 300ms;
  }
  
  .cell.d-4 {
    animation-delay: 400ms;
  }
  
  .cell:nth-child(1) {
    --cell-color: #00FF87;
  }
  
  .cell:nth-child(2) {
    --cell-color: #0CFD95;
  }
  
  .cell:nth-child(3) {
    --cell-color: #17FBA2;
  }
  
  .cell:nth-child(4) {
    --cell-color: #23F9B2;
  }
  
  .cell:nth-child(5) {
    --cell-color: #30F7C3;
  }
  
  .cell:nth-child(6) {
    --cell-color: #3DF5D4;
  }
  
  .cell:nth-child(7) {
    --cell-color: #45F4DE;
  }
  
  .cell:nth-child(8) {
    --cell-color: #53F1F0;
  }
  
  .cell:nth-child(9) {
    --cell-color: #60EFFF;
  }
  
  /*Animation*/
  @keyframes ripple {
    0% {
      background-color: transparent;
    }
  
    30% {
      background-color: var(--cell-color);
    }
  
    60% {
      background-color: transparent;
    }
  
    100% {
      background-color: transparent;
    }
  }


  /* loader - cube */


  .cube-loader {
    position: relative;
  /* u can choose any size */
    width: 75px;
    height: 75px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: rotateX(-30deg) rotateY(0);
    }
  
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  
  .cube-loader .cube-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
    transform-style: preserve-3d;
  }
  
  .cube-loader .cube-wrapper .cube-span {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
                                       /* width 75px / 2 = 37.5px */
    transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
    background: linear-gradient(
      to bottom,
      hsl(330, 3.13%, 25.1%) 0%,
      hsl(177.27, 21.71%, 32.06%) 5.5%,
      hsl(176.67, 34.1%, 36.88%) 12.1%,
      hsl(176.61, 42.28%, 40.7%) 19.6%,
      hsl(176.63, 48.32%, 43.88%) 27.9%,
      hsl(176.66, 53.07%, 46.58%) 36.6%,
      hsl(176.7, 56.94%, 48.91%) 45.6%,
      hsl(176.74, 62.39%, 50.91%) 54.6%,
      hsl(176.77, 69.86%, 52.62%) 63.4%,
      hsl(176.8, 76.78%, 54.08%) 71.7%,
      hsl(176.83, 83.02%, 55.29%) 79.4%,
      hsl(176.85, 88.44%, 56.28%) 86.2%,
      hsl(176.86, 92.9%, 57.04%) 91.9%,
      hsl(176.88, 96.24%, 57.59%) 96.3%,
      hsl(176.88, 98.34%, 57.93%) 99%,
      hsl(176.89, 99.07%, 58.04%) 100%
    );
  }
  
  .cube-top {
    position: absolute;
    width: 75px;
    height: 75px;
    background: hsl(330, 3.13%, 25.1%) 0%;
                        /* width 75px / 2 = 37.5px */
    transform: rotateX(90deg) translateZ(37.5px);
    transform-style: preserve-3d;
  }
  
  .cube-top::before {
    content: '';
    position: absolute;
  /* u can choose any size */
    width: 75px;
    height: 75px;
    background: hsl(176.61, 42.28%, 40.7%) 19.6%;
    transform: translateZ(-90px);
    filter: blur(10px);
    box-shadow: 0 0 10px #323232,
                0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
                0 0 30px #323232,
                0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
  }

  
  /* loader 3 body */

  .three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5D3FD3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
   }
   
   .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }

   /* loader three-line */

   .loader-three-line {
    width: 45px;
    height: 40px;
    background: linear-gradient(#0000 calc(1*100%/6),#006cf8 0 calc(3*100%/6),#0000 0),
              linear-gradient(#0000 calc(2*100%/6),#006cf8 0 calc(4*100%/6),#0000 0),
              linear-gradient(#0000 calc(3*100%/6),#006cf8 0 calc(5*100%/6),#0000 0);
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
  }
  
  @keyframes matrix {
    0% {
      background-position: 0% 100%, 50% 100%, 100% 100%
    }
  
    100% {
      background-position: 0% 0%, 50% 0%, 100% 0%
    }
  }

  /* loader-newtons */

  .newtons-cradle {
    --uib-size: 50px;
    --uib-speed: 1.2s;
    --uib-color: #474554;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size);
   }
   
   .newtons-cradle__dot {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
   }
   
   .newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--uib-color);
   }
   
   .newtons-cradle__dot:first-child {
    animation: swing var(--uib-speed) linear infinite;
   }
   
   .newtons-cradle__dot:last-child {
    animation: swing2 var(--uib-speed) linear infinite;
   }
   
   @keyframes swing {
    0% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    25% {
     transform: rotate(70deg);
     animation-timing-function: ease-in;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   }
   
   @keyframes swing2 {
    0% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    75% {
     transform: rotate(-70deg);
     animation-timing-function: ease-in;
    }
   }

/* circle-spinner */

.circle-spinner {
    background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
    width: 100px;
    height: 100px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
  }
  
  .spinner-circle-1 {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
  }
  
  @keyframes spinning82341 {
    to {
      transform: rotate(360deg);
    }
  }

  /* loader box stack */



  .loader-boxstack {
    scale: 3;
    height: 50px;
    width: 40px;
  }
  
  .box {
    position: relative;
    opacity: 0;
    left: 10px;
  }
  
  .side-left {
    position: absolute;
    background-color: #286cb5;
    width: 19px;
    height: 5px;
    transform: skew(0deg, -25deg);
    top: 14px;
    left: 10px;
  }
  
  .side-right {
    position: absolute;
    background-color: #2f85e0;
    width: 19px;
    height: 5px;
    transform: skew(0deg, 25deg);
    top: 14px;
    left: -9px;
  }
  
  .side-top {
    position: absolute;
    background-color: #5fa8f5;
    width: 20px;
    height: 20px;
    rotate: 45deg;
    transform: skew(-20deg, -20deg);
  }
  
  .box-1 {
    animation: from-left 4s infinite;
  }
  
  .box-2 {
    animation: from-right 4s infinite;
    animation-delay: 1s;
  }
  
  .box-3 {
    animation: from-left 4s infinite;
    animation-delay: 2s;
  }
  
  .box-4 {
    animation: from-right 4s infinite;
    animation-delay: 3s;
  }
  
  @keyframes from-left {
    0% {
      z-index: 20;
      opacity: 0;
      translate: -20px -6px;
    }
  
    20% {
      z-index: 10;
      opacity: 1;
      translate: 0px 0px;
    }
  
    40% {
      z-index: 9;
      translate: 0px 4px;
    }
  
    60% {
      z-index: 8;
      translate: 0px 8px;
    }
  
    80% {
      z-index: 7;
      opacity: 1;
      translate: 0px 12px;
    }
  
    100% {
      z-index: 5;
      translate: 0px 30px;
      opacity: 0;
    }
  }
  
  @keyframes from-right {
    0% {
      z-index: 20;
      opacity: 0;
      translate: 20px -6px;
    }
  
    20% {
      z-index: 10;
      opacity: 1;
      translate: 0px 0px;
    }
  
    40% {
      z-index: 9;
      translate: 0px 4px;
    }
  
    60% {
      z-index: 8;
      translate: 0px 8px;
    }
  
    80% {
      z-index: 7;
      opacity: 1;
      translate: 0px 12px;
    }
  
    100% {
      z-index: 5;
      translate: 0px 30px;
      opacity: 0;
    }
  }

/* bouncing - box */

.loader-bouncing-box {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
  }
  
  .loader-bouncing-box:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #f0808050;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }
  
  .loader-bouncing-box:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #f08080;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
  }
  
  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }
  
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
  
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
  
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
  
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes shadow324 {
  
    0%,
      100% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1.2, 1);
    }
  }

  /* spinner - box */

  .spinner-box-blue {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
   }
   
   .spinner-box-blue > div {
    background-color: rgba(0,77,255,0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #004dff;
   }
   
   .spinner-box-blue div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
   }
   
   .spinner-box-blue div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
   }
   
   .spinner-box-blue div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
   }
   
   .spinner-box-blue div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
   }
   
   .spinner-box-blue div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
   }
   
   .spinner-box-blue div:nth-of-type(6) {
    transform: translateZ(22px);
   }
   
   @keyframes spinner-y0fdc1 {
    0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
   
    50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
   
    100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
   }

   /* bouncing-ball */

   .wrapper-ball {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle-ball {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #e8f803;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle-ball:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle-ball:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow-ball {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow-ball:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow-ball:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }

  /* loading-vector */

  .loading-vector svg polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .loading-vector svg polyline#back {
    fill: none;
    stroke: #ff4d5033;
  }
  
  .loading-vector svg polyline#front {
    fill: none;
    stroke: #ff4d4f;
    stroke-dasharray: 48, 144;
    stroke-dashoffset: 192;
    animation: dash_682 1.4s linear infinite;
  }
  
  @keyframes dash_682 {
    72.5% {
      opacity: 0;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }

  /* dot - spinner */
  .dot-spinner {
    --uib-size: 2.8rem;
    --uib-speed: .9s;
    --uib-color: #840cb4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
  }
  
  .dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(192, 21, 235, 0.3);
  }
  
  .dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }

/* clock loader */

.loader-clock {
    position: relative;
    transform: scale(2);
    border-radius: 50%;
    border: 1px solid;
    width: 30px;
    height: 30px;
    color: rgb(0, 0, 0);
  }
  
  .loader-clock::after {
    position: absolute;
    width: 0px;
    height: 10px;
    display: block;
    border-left: 1px solid #020202;
    content: '';
    left: 14px;
    border-radius: 1px;
    top: 4px;
    animation-duration: 1s;
  }
  
  .loader-clock::before {
    position: absolute;
    width: 0px;
    height: 10px;
    display: block;
    border-left: 1px solid #000000;
    content: '';
    left: 14px;
    border-radius: 1px;
    top: 4px;
    animation-duration: 40s;
  }
  
  .loader-clock::before,.loader-clock::after {
    transform-origin: bottom;
    animation-name: dial;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes dial {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  /* loading-text */

  .loading-text {
    font-size: 48px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFF;
    letter-spacing: 2px;
    position: relative;
    box-sizing: border-box;
  }
  
  .loading-text::after {
    content: 'Loading';
    position: absolute;
    left: 0;
    top: 0;
    color: #263238;
    text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader 6s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      height: 100%;
    }
  
    100% {
      height: 0%;
    }
  }

/* loading - snowing */

.loader-snowing{
    position: relative;
    width: 110px;
    height: 30px;
    background: #979191;
    border-radius: 100px;
  }
  
  .loader-snowing::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 10px;
    width: 30px;
    height: 30px;
    background: #979191;
    border-radius: 50%;
    box-shadow: 40px 0 0 20px #979191;
  }
  
  .snow {
    position: relative;
    display: flex;
    z-index: 1;
  }
  
  .snow span {
    position: relative;
    width: 3px;
    height: 3px;
    background: #979191;
    margin: 0 2px;
    border-radius: 50%;
    animation: snowing 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transform-origin: bottom;
  }
  
  @keyframes snowing {
    0% {
      transform: translateY(0px);
    }
  
    70% {
      transform: translateY(100px) scale(1);
    }
  
    100% {
      transform: translateY(100px) scale(0);
    }
  }




  /* yeu cau copy vao tat ca cac trang */

  
  @keyframes apeared {
    from {
      top: -50%
    };
    0% {
      opacity: 0%;
    };

    15% {
      opacity: 15%;
    }
    25%{
      opacity: 30%;
    }
    40%{
      opacity: 40%;
    }
    50% {
      opacity: 50%;
    };
    60%{
      opacity: 60%;
    }
    75%{
      opacity: 75%;
    }
    85%{
      opacity: 85%;
    }
    100%{
      opacity: 100%;
    };
  }

  @keyframes disapear{
    
    from{
      top: 76px;
    }
    to {
      top: -50%;
    }
  }


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }