*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'TheShapeOfThings';
  src: url(./TheShapeOfThings-z2E0.ttf);
}
body{
    width: 1840px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    background-color: #1d1d1d;
    overflow-x: hidden;
}
header{
  color: white;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0px 48px;
}
h4{
  color: white;
  font-size: 28px;
  transition: 400ms ease-in;
}
h4.logo{
  font-family:'TheShapeOfThings',sans-serif ;
  font-size: 20px;
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
color: transparent;
-webkit-background-clip: text
}
h4.logo:hover{
  font-size: 22px;
}
.h-start{
  display: flex;
  justify-content: start;
  gap: 24px;
  align-items: center;
}
button:hover{
  cursor: pointer;
}
button#signin{
  padding: 10px 36px;
  font-size: 24px;
  border-radius: 32px;
  font-weight: 400;
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
color: white;
font-family: 'Quicksand', sans-serif;
transition: 1s ease-in;
}
button#signin:hover{
  cursor: pointer;
}
h4:hover{
  font-size: 32px;
  transition: 400ms ease-out ;
  cursor: pointer;
}
section.hero {
    height: 495px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: auto;
}
h1 {
    background-color: #5ae0ff;
    background-image: linear-gradient(115deg, #5ae0ff 0%, #b61eff 52%, #71d2aa 90%);
    font-size: 48px;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 3;
    transition: 1.1s ease-in;
    font-family: 'Quicksand',sans-serif;
}

h1:hover{
  font-size: 64px;
  transition: 1200ms ease-out;
  cursor: none;
}

h3 {
    font-size: 32px;
    width: 896px;
    margin-top: calc(359px - 299px);
    color: white;
}

.square {
    height: 240px;
    width: 240px;
    position: absolute;
    border: 4px solid #5AE0FF;
    border-radius: 16px;
    /* top: revert; */
    z-index: -1;
}

.square.top:hover{
  border-radius: 50%;
  transition: 400ms;
}
.square.top {
    top: 176px;
    left: -38px;
    animation: up 100s cubic-bezier(0, 0, 0.24, 1.21) infinite ;
}
.square.right {
    top: 241px;
    right: 6px;
    animation: right 100s cubic-bezier(0, 0, 0.24, 1.21) infinite ;
}
.square.left {
    bottom: 174px;
    right: -119px;
    z-index: -1;
    animation: left 100s cubic-bezier(0, 0, 0.24, 1.21) infinite ;
}
.square.bottom {
    top: 367px;
    left: 247px;
    animation: down 100s cubic-bezier(0, 0, 0.24, 1.21) infinite ;
}



section.hero-image {
    width: 1800px;
    height: 774px;
    text-align: center;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    margin-right: 50px;
    margin-top: 52px;
    position: relative;
}


div#signInField {
  position: absolute;
  height: 500px;
  width: 872px;
  z-index: 7;
  background: rgb(0, 0, 0);
  left: 50%;
  transform: translate(-50%, 0);
  top: 76px;
  border-radius: 16px;
  padding: 32px 20px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: white;
  font-family:'Quicksand', sans-serif ;
  transition: 0.4s ease-in;
  visibility: hidden;
}

div#sign-Up-Field{
  position: absolute;
  height: 600px;
  width: 872px;
  z-index: 7;
  background: rgb(0, 0, 0);
  left: 50%;
  transform: translate(-50%, 0);
  top: 76px;
  border-radius: 16px;
  padding: 32px 20px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: white;
  font-family:'Quicksand', sans-serif ;
  transition: 0.4s ease-in;
  visibility: hidden;
}

input#Name{
  padding: 16px 16px;
    width: 426px;
    border: none;
    border-radius: 32px;
}


.fa-solid{
  color: white;
  font-size: 32px;
  /* background-color: white; */
  margin-left: 768px;
}

.fa-solid:hover{
  cursor: pointer;
}
label{
  font-size: 28px;
}
input#Email{
    padding: 16px 16px;
    width: 426px;
    border: none;
    border-radius: 32px;
}
input#Password{
  padding: 16px 16px;
    width: 426px;
    border: none;
    border-radius: 32px;
    margin-bottom: 16px;
}

input#SignUpPassword{
  padding: 16px 16px;
    width: 426px;
    border: none;
    border-radius: 32px;
    margin-bottom: 16px;
}

input#SignUpEmail{
  padding: 16px 16px;
  width: 426px;
  border: none;
  border-radius: 32px;
}

button.Signup-btn{
  padding: 10px 36px;
  font-size: 24px;
  border-radius: 32px;
  font-weight: 400;
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
color: white;
font-family: 'Quicksand', sans-serif;
border: none;
}




button.Login-btn{
  padding: 10px 36px;
  font-size: 24px;
  border-radius: 32px;
  font-weight: 400;
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
color: white;
font-family: 'Quicksand', sans-serif;
border: none;
}
button.Login-btn:hover{
  cursor: pointer;
}

#darken-element{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(24, 23, 23, 0.75);
  z-index: 6;
  cursor: pointer;
  transition: 1s;
  backdrop-filter: blur(16px);
}

div#signInField p{
  font-size: 18px;
}



.line {
    width: 1700px;
    display: inline-grid;
    gap: 24px;
    /* align-self: center; */
    grid-auto-flow: column;
    /* align-items: center; */
    align-items: self-start;
    justify-content: center;
    /* row-gap: 24px; */
    margin: 16px -135px 0px;
}

.small-square {
    width: 284px;
    height: 236.3px;
    /* background: #575757; */
    border-radius: 16px;
    box-shadow: 0px 2px 8px rgb(53, 52, 52) 
                ;
    background-color: #ffffff;
    background-image: none;
                
                
    display: flex;  
    align-items: center;
    justify-content: center;
    transition: 500ms;
}
.small-square:hover{
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  cursor: pointer;
  transition:  500ms ease-in;
}
.line-first {
    display: flex;
    gap: 24px;
    width: 1847px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.signUpLine p{
  text-align: center;
}

.GoToSignUpField{
  text-decoration: none;
  color: rgb(212, 212, 212);
  font-size: 16px;
}

.GoToSignUpField:hover{
  cursor: pointer;
}

@keyframes apeared {
  from {
    top: -50%
  };
  0% {
    opacity: 0%;
  };

  15% {
    opacity: 15%;
  }
  25%{
    opacity: 30%;
  }
  40%{
    opacity: 40%;
  }
  50% {
    opacity: 50%;
  };
  60%{
    opacity: 60%;
  }
  75%{
    opacity: 75%;
  }
  85%{
    opacity: 85%;
  }
  100%{
    opacity: 100%;
  };
}

@keyframes disapear{
  
  from{
    top: 76px;
  }
  to {
    top: -50%;
  }
}




/* cop phan tren -------------------------------------------------- */




button.subscribe {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
  }
  
  button.subscribe {
    --primary-color: #111;
    --hovered-color: #c84747;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  button.subscribe p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
  }
  
  button.subscribe::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  button.subscribe p::before {
    position: absolute;
  /*   box-sizing: border-box; */
    content: "Subscribe";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  button.subscribe:hover::after {
    width: 100%;
  }
  
  button.subscribe:hover p::before {
    width: 100%;
  }
  
  button.subscribe:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
  }
  
  button.subscribe svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }

  .pl {
    display: block;
    width: 9.375em;
    height: 9.375em;
  }
  
  .pl__arrows,
  .pl__ring-rotate,
  .pl__ring-stroke,
  .pl__tick {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .pl__arrows {
    animation-name: arrows42;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
  }
  
  .pl__ring-rotate,
  .pl__ring-stroke {
    transform-origin: 80px 80px;
  }
  
  .pl__ring-rotate {
    animation-name: ringRotate42;
  }
  
  .pl__ring-stroke {
    animation-name: ringStroke42;
    transform: rotate(-45deg);
  }
  
  .pl__tick {
    animation-name: tick42;
  }
  
  .pl__tick:nth-child(2) {
    animation-delay: -1.75s;
  }
  
  .pl__tick:nth-child(3) {
    animation-delay: -1.5s;
  }
  
  .pl__tick:nth-child(4) {
    animation-delay: -1.25s;
  }
  
  .pl__tick:nth-child(5) {
    animation-delay: -1s;
  }
  
  .pl__tick:nth-child(6) {
    animation-delay: -0.75s;
  }
  
  .pl__tick:nth-child(7) {
    animation-delay: -0.5s;
  }
  
  .pl__tick:nth-child(8) {
    animation-delay: -0.25s;
  }
  
  /* Animations */
  @keyframes arrows42 {
    from {
      transform: rotate(45deg);
    }
  
    to {
      transform: rotate(405deg);
    }
  }
  
  @keyframes ringRotate42 {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(720deg);
    }
  }
  
  @keyframes ringStroke42 {
    from,
      to {
      stroke-dashoffset: 452;
      transform: rotate(-45deg);
    }
  
    50% {
      stroke-dashoffset: 169.5;
      transform: rotate(-180deg);
    }
  }
  
  @keyframes tick42 {
    from,
      3%,
      47%,
      to {
      stroke-dashoffset: -12;
    }
  
    14%,
      36% {
      stroke-dashoffset: 0;
    }
  }
  .ball {
    position: relative;
    bottom: 50px;
    left: calc(100% - 20px);
    width: 50px;
    height: 50px;
    background: #ce4949;
    border-radius: 50%;
    animation: ball-move8234 3s ease-in-out 1s infinite alternate;
  }
  
  .ball::after {
    position: absolute;
    content: '';
    top: 25px;
    right: 5px;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
  }
  
  .wood {
    width: 200px;
    height: 12.5px;
    background: #b98243;
    border-radius: 30px;
    transform: rotate(-15deg);
    animation: up-down6123 3s ease-in-out 1s infinite alternate;
  }
  
  @keyframes up-down6123 {
    from {
      transform: rotate(-15deg);
    }
  
    to {
      transform: rotate(15deg);
    }
  }
  
  @keyframes ball-move8234 {
    from {
      left: calc(100% - 40px);
      transform: rotate(360deg);
    }
  
    to {
      left: calc(0% - 20px);
      transform: rotate(0deg);
    }
  }
  .newtons-cradle {
    --uib-size: 50px;
    --uib-speed: 1.2s;
    --uib-color: #5f5eb3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size);
   }
   
   .newtons-cradle__dot {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
   }
   
   .newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--uib-color);
   }
   
   .newtons-cradle__dot:first-child {
    animation: swing var(--uib-speed) linear infinite;
   }
   
   .newtons-cradle__dot:last-child {
    animation: swing2 var(--uib-speed) linear infinite;
   }
   
   @keyframes swing {
    0% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    25% {
     transform: rotate(70deg);
     animation-timing-function: ease-in;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   }
   
   @keyframes swing2 {
    0% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    75% {
     transform: rotate(-70deg);
     animation-timing-function: ease-in;
    }
   }

   @keyframes clockwise {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes counter-clockwise {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }
  
  .gearbox {
    background: #111;
    height: 150px;
    width: 200px;
    position: relative;
    border: none;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  }
  
  .gearbox .overlay {
    border-radius: 6px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    box-shadow: inset 0px 0px 20px black;
    transition: background 0.2s;
  }
  
  .gearbox .overlay {
    background: transparent;
  }
  
  .gear {
    position: absolute;
    height: 60px;
    width: 60px;
    box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
    border-radius: 30px;
  }
  
  .gear.large {
    height: 120px;
    width: 120px;
    border-radius: 60px;
  }
  
  .gear.large:after {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    margin-left: -48px;
    margin-top: -48px;
  }
  
  .gear.one {
    top: 12px;
    left: 10px;
  }
  
  .gear.two {
    top: 61px;
    left: 60px;
  }
  
  .gear.three {
    top: 110px;
    left: 10px;
  }
  
  .gear.four {
    top: 13px;
    left: 128px;
  }
  
  .gear:after {
    content: "";
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 36px;
    background: #111;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -18px;
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #090909, inset 0px -1px 0px 0px #888888;
  }
  
  .gear-inner {
    position: relative;
    height: 100%;
    width: 100%;
    background: #555;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .large .gear-inner {
    border-radius: 60px;
  }
  
  .gear.one .gear-inner {
    animation: counter-clockwise 3s infinite linear;
  }
  
  .gear.two .gear-inner {
    animation: clockwise 3s infinite linear;
  }
  
  .gear.three .gear-inner {
    animation: counter-clockwise 3s infinite linear;
  }
  
  .gear.four .gear-inner {
    animation: counter-clockwise 6s infinite linear;
  }
  
  .gear-inner .bar {
    background: #555;
    height: 16px;
    width: 76px;
    position: absolute;
    left: 50%;
    margin-left: -38px;
    top: 50%;
    margin-top: -8px;
    border-radius: 2px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .large .gear-inner .bar {
    margin-left: -68px;
    width: 136px;
  }
  
  .gear-inner .bar:nth-child(2) {
    transform: rotate(60deg);
  }
  
  .gear-inner .bar:nth-child(3) {
    transform: rotate(120deg);
  }
  
  .gear-inner .bar:nth-child(4) {
    transform: rotate(90deg);
  }
  
  .gear-inner .bar:nth-child(5) {
    transform: rotate(30deg);
  }
  
  .gear-inner .bar:nth-child(6) {
    transform: rotate(150deg);
  }
  .btn-watch {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 14px #3c90bd;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .btn-watch:active {
    scale: 0.92;
  }
  
  .btn-watch:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }

  /* radio input tick */


  button.stack {
    transform: rotate(-25deg) skew(25deg);
    transform-style: preserve-3d;
    position: relative;
    list-style: none;
    width: 100px;
    height: 32px;
    border: none;
    background: transparent;
    font-family: inherit;
    cursor: pointer;
  }
  
  button.stack:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: #2a2a2a;
    transform: skewX(-41deg);
  }
  
  button.stack:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform: skewY(-49deg);
  }
  
  button.stack span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a2a2a;
    color: #fff;
    font-size: 25px;
    transition: 1.1s ease-out;
  }
  
  button.stack:hover span {
    z-index: 1000;
    transition: .3s;
    color: #fff;
  }
  
  button.stack:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
  }
  
  button.stack:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
  }
  
  button.stack:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
  }
  
  button.stack:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
  }
  
  button.stack:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: .2;
  }
  
  button.stack:active span:nth-child(5) {
    transform: translate(20px, -20px);
    opacity: 1;
  }
  
  button.stack:active span:nth-child(4) {
    transform: translate(15px, -15px);
  }
  
  button.stack:active span:nth-child(3) {
    transform: translate(10px, -10px);
  }
  
  button.stack:active span:nth-child(2) {
    transform: translate(5px, -5px);
  }
  
  button.stack:active span:nth-child(1) {
    transform: translate(0px, 0px);
  }
  
  button.stack:nth-child(1):hover span {
    background: #52E19F;
  }

/* radio square check */

  .radio-input-circle .label input {
    display: none;
  }
  
  .radio-input-circle {
    display: flex;
    gap: 20px;
  }
  
  .radio-input-circle .label {
    display: flex;
  }
  
  .radio-input-circle .label .check {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    border: 3px solid transparent;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5),
     -1px -1px 4px rgba(255, 255, 255, 0.5);
  }
  
  .radio-input-circle .label input:checked + .check {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5),
     -1px -1px 4px rgba(255, 255, 255, 0.5),
     inset 3px 3px 6px rgba(0, 0, 0, 0.5),
     inset -1px -1px 4px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
  }
  .input__container {
    position: relative;
    background: rgba(255, 255, 255, 0.664);
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 22px;
    max-width: 300px;
    transition: transform 400ms;
    transform-style: preserve-3d;
    transform: rotateX(15deg) rotateY(-20deg);
    perspective: 500px;
  }
  
  .shadow__input {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(30px);
    border-radius: 20px;
    background-color: #999cff;
    background-image: radial-gradient(at 85% 51%, hsla(60,60%,61%,1) 0px, transparent 50%),
      radial-gradient(at 74% 68%, hsla(235,69%,77%,1) 0px, transparent 50%),
      radial-gradient(at 64% 79%, hsla(284,72%,73%,1) 0px, transparent 50%),
      radial-gradient(at 75% 16%, hsla(283,60%,72%,1) 0px, transparent 50%),
      radial-gradient(at 90% 65%, hsla(153,70%,64%,1) 0px, transparent 50%),
      radial-gradient(at 91% 83%, hsla(283,74%,69%,1) 0px, transparent 50%),
      radial-gradient(at 72% 91%, hsla(213,75%,75%,1) 0px, transparent 50%);
  }
  
  .input__button__shadow {
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 400ms, background 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 5px;
  }
  
  .input__button__shadow:hover {
    background: rgba(255, 255, 255, 0.411);
  }
  
  .input__search {
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 8px;
    position: relative;
  }



  /* download - button */



  .buttons-download {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #1163ff;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .buttons-download::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .buttons-download::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .buttons-download::after,.buttons-download::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .buttons-download:hover {
    background: #6c18ff;
  }
  
  .buttons-download:hover .text {
    top: -100%;
  }
  
  .buttons-download:hover .icon {
    top: 0;
  }
  
  .buttons-download:hover:before,.buttons-download:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .buttons-download:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .buttons-download:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }

  /* smile rating */

  .rating {
    cursor: pointer;
  }
  
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    background-color: rgb(255, 255, 255);
    padding: 0.8rem;
    width: 33rem;
  }
  
  .rating-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.4rem 0.8rem;
    width: 100%;
  }
  
  .rating {
    background-color: rgba(0, 0, 16, 0.8);
    padding: 0.4rem 0.4rem 0.1rem 0.4rem;
    border-radius: 2.2rem;
  }
  
  .rating-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .svg {
    fill: rgb(242, 242, 242);
    height: 3.6rem;
    width: 3.6rem;
    margin: 0.2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .rating-form-2 svg {
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
  }
  
  #radios label {
    position: relative;
  }
  
  .super-happy, [type="radio"] {
    position: absolute;
    opacity: 0;
  }
  
  .input ,[type="radio"] + svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .super-happy[class="super-happy"]:hover + svg,
  .super-happy[class="super-happy"]:checked + svg,
  .super-happy[class="super-happy"]:focus + svg {
    fill: rgb(0, 204, 79);
    transition: 1.5s;
  }
  
  .neutral[class="neutral"]:hover + svg,
  .neutral[class="neutral"]:checked + svg,
  .neutral[class="neutral"]:focus + svg {
    fill: rgb(232, 214, 0);
    transition: 1.5s;
  }
  
  .super-sad[class="super-sad"]:hover + svg,
  .super-sad[class="super-sad"]:checked + svg,
  .super-sad[class="super-sad"]:focus + svg {
    fill: rgb(239, 42, 16);
    transition: 1.5s;
  }
  
  /* spinner */

  
  .spinner {
    --size: 30px;
    --first-block-clr: #7f65f0;
    --second-block-clr: #f7de60;
    --clr: #111;
    width: 100px;
    height: 100px;
    position: relative;
   }
   
   .spinner::after,.spinner::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    width: var(--size);
    height: var(--size);
    top: 50%;
    animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
    left: 50%;
    background: var(--first-block-clr);
   }
   
   .spinner::after {
    background: var(--second-block-clr);
    top: calc(50% - var(--size));
    left: calc(50% - var(--size));
    animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
   }
   
   @keyframes down {
    0%, 100% {
     transform: none;
    }
   
    25% {
     transform: translateX(100%);
    }
   
    50% {
     transform: translateX(100%) translateY(100%);
    }
   
    75% {
     transform: translateY(100%);
    }
   }
   
   @keyframes up {
    0%, 100% {
     transform: none;
    }
   
    25% {
     transform: translateX(-100%);
    }
   
    50% {
     transform: translateX(-100%) translateY(-100%);
    }
   
    75% {
     transform: translateY(-100%);
    }
   }
   @keyframes left {
    0%, 100% {
     transform: none;
    }
   
    25% {
     transform: translatey(100%);
    }
   
    50% {
     transform: translateX(100%) translateY(-100%);
    }
   
    75% {
     transform: translateY(-100%);
    }
   }

   @keyframes right {
    0%, 100% {
     transform: none;
    }
   
    25% {
     transform: translateY(-50%);
    }
   
    50% {
     transform: translateX(-60%) translateY(80%);
    }
   
    75% {
     transform: translateY(-100%);
    }
   }   

   /* gradient - spinner */
   .spinner2 {
    background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
    width: 100px;
    height: 100px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
  }
  
  .spinner-mini {
    background-color: #dbdbdb;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
  }
  
  @keyframes spinning82341 {
    to {
      transform: rotate(360deg);
    }
  }

  /* wifi button */

  .container {
    width: 7em;
    height: 7em;
    position: relative;
  }
  
  .button-wifi {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #090909;
    background-color: transparent;
    background-image: linear-gradient(145deg, #171717, #444245);
    box-sizing: border-box;
    box-shadow: inset 2px 2px 0 #7d7c7e, inset -2px -2px 0px #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container input {
    display: none;
  }
  
  .button-wifi::before {
    position: absolute;
    content: "";
    width: 7.25em;
    height: 7.25em;
    border-radius: inherit;
    background-color: transparent;
    background-image: linear-gradient(145deg, #262626, #606060);
    z-index: -1;
    box-shadow: 11px 11px 22px #141414, -11px -11px 22px #525252;
  }
  
  .button-wifi .icon-wifi {
    width: 60px;
    height: 60px;
    display: inline-block;
  }
  
  .button-wifi .icon-wifi svg {
    height: 100%;
    width: 100%;
    fill: #a5a5a5;
  }
  
  .container  input:checked + .button-wifi {
    box-shadow: inset -2px -2px 0 #5e5e5e,inset 2px 2px 0 #1c1c1c;
    border: 4px solid rgba(77, 124, 255, 0.281);
    animation: animeBorder .3s linear alternate-reverse infinite;
  }
  
  .container input:checked + .button-wifi .icon-wifi svg {
    fill: rgb(77, 124, 255);
    animation: animeFill .3s linear alternate-reverse infinite;
  }
  
  @keyframes animeFill {
    to {
      fill: rgba(77, 124, 255, 0.642);
    }
  }
  
  @keyframes animeBorder {
    to {
      border-color: rgba(77, 124, 255, 0.137);
    }
  }


  /* switch slider */
  /* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: .4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 0.1em;
  border-radius: 0px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
}

input:checked + .slider:before {
  transform: translateX(2.8em) rotate(360deg);
}


/* loader-bulble */


.loader-bubble{
  display: block;
  width: 84px;
  height: 84px;
  position: relative;
}

.loader-bubble:before , .loader-bubble:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

  transform: translate(-50% , -100%)  scale(0);
  animation: push_401 2s infinite linear;
}

.loader-bubble:after {
  animation-delay: 1s;
}

@keyframes push_401 {
  0% , 50% {
    transform: translate(-50% , 0%)  scale(1)
  }

  100% {
    transform: translate(-50%, -100%) scale(0)
  }
}

/* loader square */

.loader-square {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

  box-sizing: border-box;
  animation: zeroRotation 1s ease infinite alternate-reverse;
}

@keyframes zeroRotation {
  0% {
    transform: scale(1) rotate(0deg);
  }

  100% {
    transform: scale(0.3) rotate(360deg);
  }
}
    

/* progress loader */


.progress-loader {
  margin-left: auto;
  /* position: absolute; */
  transform: translate(-50%, -50%);
  width: 150px;
  background: rgba(183, 183, 214, 0.253);
  height: 10px;
  border-radius: 7px;
}

.progress {
  width: 1px;
  height: 10px;
  border-radius: 7px;
  background: rgb(143, 142, 142);
  transition: 0.5s;
  animation: loading_44 5s cubic-bezier(.4,1.01,1,1) infinite;
}

@keyframes loading_44 {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

/* spinner around */


.spinner3 {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #24b8bd;
  animation: spinner-a4dj62 1s infinite linear;
 }
 
 .spinner3::before,
 .spinner3::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2s infinite;
 }
 
 .spinner3::after {
  margin: 8px;
  animation-duration: 3s;
 }
 
 @keyframes spinner-a4dj62 {
  100% {
   transform: rotate(1turn);
  }
 }


 /* input-keyhole */
 .input-keyhole {
  background-color: #383838;
  border: 1ex solid none;
  border-top-width: 1.7em;
  margin: 0;
  padding: 0;
  color: #383838;
  word-wrap: break-word;
  outline: 7px solid #383838;
  height: 30px;
  font-size: 17px;
  text-align: center;
  transition: all 1s;
  max-width: 190px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
 }
 
 .input-keyhole:hover {
  border-top-width: 0.2em;
  background-color: #f1e8e8;
 }
 
 .input-keyhole:focus {
  border-top-width: 0.2em;
  background-color: #f1e8e8;
 }


 /* liquid-tube */


 .shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}

/* register */

.rainbow-hover {
  font-size: 16px;
  font-weight: 700;
  color: #ff7576;
  background-color: #2B3044;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 24px;
  position: relative;
  line-height: 24px;
  border-radius: 9px;
  box-shadow: 0px 1px 2px #2B3044,
    0px 4px 16px #2B3044;
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px)
    rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
}

.sp {
  background: linear-gradient(
      90deg,
      #866ee7,
      #ea60da,
      #ed8f57,
      #fbd41d,
      #2cca91
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
}

.rainbow-hover:active {
  transition: 0.3s;
  transform: scale(0.93);
}


/* cube loader */

.cube-loader {
  position: relative;
/* u can choose any size */
  width: 75px;
  height: 75px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
                                     /* width 75px / 2 = 37.5px */
  transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
  background: linear-gradient(
    to bottom,
    hsl(330, 3.13%, 25.1%) 0%,
    hsl(177.27, 21.71%, 32.06%) 5.5%,
    hsl(176.67, 34.1%, 36.88%) 12.1%,
    hsl(176.61, 42.28%, 40.7%) 19.6%,
    hsl(176.63, 48.32%, 43.88%) 27.9%,
    hsl(176.66, 53.07%, 46.58%) 36.6%,
    hsl(176.7, 56.94%, 48.91%) 45.6%,
    hsl(176.74, 62.39%, 50.91%) 54.6%,
    hsl(176.77, 69.86%, 52.62%) 63.4%,
    hsl(176.8, 76.78%, 54.08%) 71.7%,
    hsl(176.83, 83.02%, 55.29%) 79.4%,
    hsl(176.85, 88.44%, 56.28%) 86.2%,
    hsl(176.86, 92.9%, 57.04%) 91.9%,
    hsl(176.88, 96.24%, 57.59%) 96.3%,
    hsl(176.88, 98.34%, 57.93%) 99%,
    hsl(176.89, 99.07%, 58.04%) 100%
  );
}

.cube-top {
  position: absolute;
  width: 75px;
  height: 75px;
  background: hsl(330, 3.13%, 25.1%) 0%;
                      /* width 75px / 2 = 37.5px */
  transform: rotateX(90deg) translateZ(37.5px);
  transform-style: preserve-3d;
}

.cube-top::before {
  content: '';
  position: absolute;
/* u can choose any size */
  width: 75px;
  height: 75px;
  background: hsl(176.61, 42.28%, 40.7%) 19.6%;
  transform: translateZ(-90px);
  filter: blur(10px);
  box-shadow: 0 0 10px #323232,
              0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
              0 0 30px #323232,
              0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
}

/* button */



.last-button{
  display: flex;
  margin: 24px;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 12px;
}

button.explore {
  background: linear-gradient(115deg, #5ae0ff 0%, #b61eff 52%, #71d2aa 90%);
  background-size: 400% 400%;
  padding: 24px 52px;
  display: inline-block;
  border: none;
  border-radius: 16px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transition: all .5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
  font-family: 'Quicksand', sans-serif;
}

button.explore:hover {
  animation: gradient 5s infinite;
  transform: scale(1.05);
}

button.explore:active {
  animation: gradient 5s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes apeared {
  from {
    top: -50%
  };
  0% {
    opacity: 0%;
  };

  15% {
    opacity: 15%;
  }
  25%{
    opacity: 30%;
  }
  40%{
    opacity: 40%;
  }
  50% {
    opacity: 50%;
  };
  60%{
    opacity: 60%;
  }
  75%{
    opacity: 75%;
  }
  85%{
    opacity: 85%;
  }
  100%{
    opacity: 100%;
  };
}

@keyframes disapear{
  
  from{
    top: 76px;
  }
  to {
    top: -50%;
  }
}

/* Responsive */

.close-dialog {
  width:100%;
  text-align: end;
}

.mobile-nav{
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  display:flex;
  gap:20px;
  text-align: center;
  flex-direction: column;
  background-color: #1d1d1d;
  /* position:absolute; */
  display: none;
  z-index: 99;
}
.mobile-nav a{
  color: white;
  text-decoration-line: none;
  @media only screen and (max-width: 768px){ 
    
  }
}


@media only screen and (max-width: 768px){
  .burger-button {
    visibility: visible;
  }
  .signin {
    display: none;
  }
  .content-btn { 
    grid-template-columns: repeat(1,1fr) !important;
  }
  .aside-wrapper {
    display: none;
  }
  input#Email{ 
    width: 200px;
  }
  input#Password{
    width: 200px;
  }
  div#signInField {
    padding: 0;
    max-width: 300px;
  }
}
@media only screen and (max-width: 1024px){ 
  .content-btn { 
    grid-template-columns: repeat(2,1fr);
  }
  
}

@media only screen and (max-width: 1336px){ 
 
}
